.btn2
{

    margin-top : 20px;
    background-color: #014421; /* Green */
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left : 0px;
    width: 100%;

}

.id2 {
    margin-left : 10px;
}

.jumbotron2
{
    padding:  0px;
}